RewriteEngine on

RewriteCond %{HTTP_HOST} ^blog\.simonquasar\.net$ [NC]
RewriteRule ^(.*) https://simonquasar.tumblr.com/$1 [L,R]

RewriteRule .*\.()$ - [F,NC]

Options -Indexes

<IfModule mod_headers.c>
  <Files ~ "\.(php)$">
    Header set Content-Type "text/html; charset=utf-8"
  </Files>
    # Applica l'header Access-Control-Allow-Origin a tutte le risorse
        SetEnvIf Origin "https?://([a-z0-9]+[.])*simonquasar.net$" AccessControlAllowOrigin=$0
        Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
</IfModule>
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php

SetEnvIfNoCase Referer semalt.com spambot=yes
SetEnvIfNoCase Referer econom.com spambot=yes
SetEnvIfNoCase Referer buttons-for-website.com spambot=yes
SetEnvIfNoCase Referer ilovevitaly.com spambot=yes
SetEnvIfNoCase Referer ilovevitaly.ru spambot=yes
SetEnvIfNoCase Referer darodar.com spambot=yes
SetEnvIfNoCase Referer 7makemoneyonline.com spambot=yes
SetEnvIfNoCase Referer myftpupload.com spambot=yes
SetEnvIfNoCase Referer priceg.com spambot=yes
SetEnvIfNoCase Referer best-seo-solution.com spambot=yes
SetEnvIfNoCase Referer best-seo-offer.com spambot=yes
SetEnvIfNoCase Referer 100dollars-seo.com spambot=yes
SetEnvIfNoCase Referer buttons-for-your-website.com spambot=yes
SetEnvIfNoCase Referer trafficmonetize.org spambot=yes
SetEnvIfNoCase Referer success-seo.com spambot=yes
SetEnvIfNoCase Referer videos-for-your-business.com spambot=yes
SetEnvIfNoCase Referer semaltmedia.com spambot=yes

Order allow,deny
Allow from all
Deny from env=spambot

<IfModule mod_mime.c>
	AddType text/css .css
</IfModule>


