@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn-Medium.woff2') format('woff2'),
        url('fonts/Vollkorn-Medium.woff') format('woff'),
        url('fonts/Vollkorn-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn-Bold.woff2') format('woff2'),
        url('fonts/Vollkorn-Bold.woff') format('woff'),
        url('fonts/Vollkorn-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn-BoldItalic.woff2') format('woff2'),
        url('fonts/Vollkorn-BoldItalic.woff') format('woff'),
        url('fonts/Vollkorn-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn-Italic.woff2') format('woff2'),
        url('fonts/Vollkorn-Italic.woff') format('woff'),
        url('fonts/Vollkorn-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn-MediumItalic.woff2') format('woff2'),
        url('fonts/Vollkorn-MediumItalic.woff') format('woff'),
        url('fonts/Vollkorn-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn-Regular.woff2') format('woff2'),
        url('fonts/Vollkorn-Regular.woff') format('woff'),
        url('fonts/Vollkorn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn-Semibold.woff2') format('woff2'),
        url('fonts/Vollkorn-Semibold.woff') format('woff'),
        url('fonts/Vollkorn-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn-SemiboldItalic.woff2') format('woff2'),
        url('fonts/Vollkorn-SemiboldItalic.woff') format('woff'),
        url('fonts/Vollkorn-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-o-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

:root {
    --branch-identity: rgba(255,40,80,1);
    --branch-print: rgba(255,56,36,1);
    --branch-webdesign: rgba(255,149,0,1);
    --branch-releases: rgba(255,204,0,1);
    --branch-corporate: rgba(65,218,96,1);
    --branch-events: rgba(84,199,251,1);
    --branch-coding: rgba(88,82,215,1);
	--main-blue: #009BDC;
	--main-yellow: #FFE600;
	--main-orange: #F90;
	--main-magenta: #E22E85;
	--main-green: #8BEA00;
	--main-black: #1A1A1A;
	--main-white: #fdfdfd;
}

body {
	scrollbar-3dlight-color:var(--main-black);	
	scrollbar-arrow-color: var(--main-black);	
	scrollbar-face-color: var(--main-white);	
	scrollbar-darkshadow-color: var(--main-black);	
	scrollbar-highlight-color: var(--main-black);	
	scrollbar-shadow-color: var(--main-black);	
	scrollbar-track-color: var(--main-black);
	font-synthesis: none;
}


::selection {  background: var(--branch-corporate);}
::-moz-selection {  background: var(--branch-corporate);}
::-webkit-scrollbar-thumb:horizontal:hover {	background: var(--main-black);}
::-webkit-scrollbar{width:9px;height:16px;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{-webkit-border-radius:0;-webkit-border-bottom-right-radius:2px;-webkit-border-bottom-left-radius:2px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:var(--main-blue);-webkit-border-radius:2px;}
::-webkit-scrollbar-thumb:vertical{height:10px;background-color:var(--main-black);-webkit-border-radius:8px;}
::-webkit-scrollbar{width:5px;height:10px;}
::-webkit-scrollbar-track-piece{background-color:var(--main-white);} 

* {	margin: 0;	padding: 0;}

html {height: 100%; }

header, nav, section, article, aside, footer {	display: block;}

body {
	color: var(--main-black);
	background-color: var(--main-white);
    /* background-image: url('/inc/bg.jpg'); */
	font-family: 'Vollkorn', 'Open Sans Condensed', Helvetica, Arial, sans-serif;	
	font-size: 12pt;
	overflow: hidden;
	width: 100%; 
	max-width: 1400px;
	min-width: 320px;
	height: 100%;
	margin: 0 auto;
}

h1 {
	font-variant: small-caps;
}

h2 { 
	font-size: 2em;
	position: relative;
	width: 100%;
	text-align: center;
}

a {	
	outline: none;
	text-decoration: none;	
	-webkit-transition: color 1s;
	transition: color 1s;     
}

bold {
	font-weight: bold;
}

.thin {
	font-weight: 400;
}
	

a {
   color: var(--main-black);
   text-decoration: none; 
} 

a:hover, a:active, a.active {
   text-decoration: underline;  
}

u { 
	text-decoration: none;
	border-bottom: 1px dotted rgba(51, 51, 51, 0.33);
	opacity: 1;
}

u:nth-of-type(1):hover, u:nth-of-type(7):hover { 
	color: var(--main-green);
}
u:nth-of-type(2):hover, u:nth-of-type(8):hover { 
	color: var(--main-blue);
}
u:nth-of-type(3):hover, u:nth-of-type(9):hover { 
	color: var(--main-yellow);
}
u:nth-of-type(4):hover, u:nth-of-type(10):hover { 
	color: var(--main-orange);
}
u:nth-of-type(5):hover, u:nth-of-type(11):hover { 
	color: var(--main-magenta);
}
u:nth-of-type(6):hover, u:nth-of-type(12):hover { 
	color: var(--branch-print);
}


strong { font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;	font-weight: 700; }
img { border: none;}

p {	
	margin: 0 0 2em;
	padding: 0 2em;
}

hr {    
	border: 1px solid var(--main-black);
    margin: 30px 0;
}

input {	vertical-align: middle;}

/** BRANCHES AND COLORS **/

.branchbar.identity {
    background-color: var(--branch-identity);
	animation-delay: 0s;
}
.branchbar.print {
    background-color: var(--branch-print);
	animation-delay: 1s;
}
.branchbar.webdesign {
    background-color: var(--branch-webdesign);
	animation-delay: 2s;
}
.branchbar.releases {
    background-color: var(--branch-releases);
	animation-delay: 3s;
}
.branchbar.corporate {
    background-color: var(--branch-corporate);
	animation-delay: 4s;
}
.branchbar.events {
    background-color: var(--branch-events);
	animation-delay: 5s;
}
.branchbar.coding {
    background-color: var(--branch-coding);
	animation-delay: 6s;
}

/***/

.white {
	background-color: transparent;
	color: var(--main-white);
}
.blue {
	background-color: var(--main-blue);
	color: var(--main-blue);
}
.yellow {
	background-color: var(--main-yellow);
	color: var(--main-yellow);
}
.orange {
	background-color: var(--main-orange);
	color: var(--main-orange);
}
.magenta {
	background-color: var(--main-magenta);
	color: var(--main-magenta);
}
.green {
	background-color: var(--main-green);
	color: var(--main-green);
}
.black {
	background-color: var(--main-black);
	color: var(--main-black);
}

/*******************/

.pdot{
	position: relative;
	width: 0px;
	height: 10px;
	border-radius: 10px;
	background: grey;
	float: left;
	left: 18px;
	top: 120px;
}

/* MAIN LAYOUT  */

#bt, #br, #bl, #bb {
	position: fixed;
	z-index: 9999;
	background-image: url('/images/dots.gif');
}
  
#bt{
	top: 0px;
	left: 0px;
	height: 20px;
	width: 100%;
}

#br{
	top: 0px;
	right: 0px;
	height: 100%;
	width: 20px;
}

#bl{
	top: 0px;
	left: 0px;
	height: 100%;
	width: 20px;
}

#bb{
	bottom: 0px;
	left: 0px;
	height: 20px;
	width: 100%;
}

#wrap {	
	width: auto;
	min-width: 320px;
	height: 100%;
	min-height: 600px;
	margin: 0 auto; 
	background-color: transparent; 
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px;
	display: block;
}

#center {
	display: block;
	width: 100%;
	min-width: 600px; 
	margin-bottom: 4em;
	padding: 0;
	float:none;
}

#left {
	display: block;
	width: 20%;
	min-width: 200px;
	padding: 0;
	float:left;
}
	
	
#right {
	display: block;
	width: 90%;
	min-width: 600px;
	padding: 0;
	float:right;
}

.section {
	height: 100%;
	min-height: 600px;
	width: 100%;
	margin-bottom: 30px;
	display: inline-block;
}

.section, #portwrap {
  -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

.section > h1 {
	margin-top: 20px;
}

/** MENU **/

	.header {
		margin: 0 auto;
		font-size: 1em;
		text-align: center;
		width: 100%;
		position: inherit;
		padding-top: 40px;
	}

	.header-img{
		height: 50px;
		width: 50px;
		position: relative;
		margin: 10px auto;
		display: block;
	}
	
	.header-img:hover{
		opacity: 0.1;
	}
	
	.menu {
		/* width: 100%; */
		margin: 40px auto;
	}
	
	.menu a {
	  display: block;
	  text-align: center;
	  font-weight: normal;
	  margin: 5px;
	}
	
	#lang_menu {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		display: flex;
		justify-content: center;
		gap: 10px;
	}

	.lang_link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		text-transform: uppercase;
		padding: 8px 0;
		width: 75px; 
		color: #fff;
		background: #000;
		position: relative;
		overflow: hidden;
		transition: all 0.3s ease;
		border-radius: 4px;
		font-size: 14px; 
	}

	.lang_link:before {
		content: '';
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		transition: all 0.3s ease;
		z-index: 1;
	}

	.lang_link[href$="#"] {
		background: #ff2850;
	}
	
	.lang_link[href$=".net/"]:before {
		background: linear-gradient(90deg, #012169 33%, #012169 33%, #c60b1e 66%, #C8102E 66%);
	}
		
	.lang_link[href*="/it"]:before {
		background: linear-gradient(90deg, #009246 33%, #fff 33%, #fff 66%, #ce2b37 66%);
	}

	.lang_link[href*="/es"]:before {
		background: linear-gradient(90deg, #c60b1e 33%, #ffc400 33%, #ffc400 66%, #c60b1e 66%);
	}

	.lang_link[href*="/de"]:before {
		background: linear-gradient(90deg, #000 33%, #dd0000 33%, #dd0000 66%, #ffce00 66%);
	}

	.lang_link[href*="/jp"]:before {
		background: #fff;
	}

	.lang_link[href*="/jp"]:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 30%;
		height: 40%;
		background: #bc002d;
		border-radius: 50%;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.lang_link[href*="/jp"]:hover:after {
		opacity: 0.2;
	}

	.lang_link:hover {
		color: #000;
		background: #fff;
	}

	.lang_link:hover:before {
		left: 0;
		opacity: 0.2;
	}

	.lang_link {
		position: relative;
		z-index: 2;
	}
	
	#menuleft {
		display: none;
		position: fixed;
		left: 100px;
		top: 0px;
		-webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
	}
	
	#menuleft.visible, #br.visible {
		opacity: 1;
		visibility: visible;
	}
	
	#icons {
		margin: 25px auto;
		text-align: center;
		bottom: 0px;
	}

	.icon {
	}

	.icon:hover{
		opacity: 0.4;
	}
	
	.mobile-img{
		display: none;
	}

	
/**/


	#home {
	}

		#hello {
		  width: 100%;
		  position: relative;
		  margin: 0 auto;
		  text-align: center;
		  color: white;
		}

		#hello:hover {
			color: var(--branch-releases);
		}
		
		#hello canvas {
			margin: 0 auto;
			display: block;
		}

		
	#who {
	}

		#who p {
			padding-right: 12em;
		}

	#work {
	}
		#work .entry h3 {
			width: 80%;
		}
		#work .entry p {
			padding-top: 1em;
		}
		
		.cv_section {
			margin-bottom: 5em;
			padding-right: 10%;
		}
		.cv_section a:hover {
			color: var(--main-blue);
		}
		.cv_section h1 {
			font-size: 1.8em;
			font-variant: small-caps;
		}
		.cv_section .entry {
			margin: 0 0 25px 25px;
		}
		.cv_section h3, .cv_section h4 {
			display: inline;
		}
		.cv_section h3 {}
		.cv_section h4 {
			font-variant: small-caps;
		}


	#portfolio {
	}

	#blog {
		overflow: hidden;
	}
	 
		#blog object, .full {
			width: 100%!important;
			height: 100%!important;
			min-height: 800px;
			padding: 0!important;
			overflow: hidden;
		}
		
		#wrapper {
			padding: 0!important;
		}


	#contact {
	}

		#haftung, #agbs {
			display: none;
			margin-top: 25px;
		}

	/****** GITHUB CARDS *****/
	
	#git-header {
		text-align: left;
	}
	
	#github .icon{
		display: inline;
		  border-radius: 0;
		  vertical-align: baseline;
		  margin: 0;
	}
	
	/** original code: https://immarianaas.github.io/github-card-generator/ **/
	
	#cardholder {
		display: flex;
		justify-content: space-evenly; 
		align-items: stretch; 
		/* flex-flow: wrap; */  
		flex-wrap: wrap; 
		align-content: stretch;
		height: 100%;
		padding: 15px;
		gap: 5px;
	}
	.card {
	    flex-grow:0;
    align-self:auto;
		flex-grow:1;;
  
		background-color: white;

	  /* border & size */
	  border: solid black 2px;
	  border-radius: 10px;
	  padding: 10px;
	  width: auto;
	  min-width: 300px;
	  max-width: 500px;
		 margin: 0 auto;
		 
	  text-align: center;

	  /* font */
	  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	  font-size: 15px;
	  color: black;
	}

	.card:hover:not(#card-slim-network) {
	  background-color: #F6F8FA;
	}

	.pointer-cursor {
	  cursor: pointer;
	}

	.icon {
	  display: inline-block;
	  vertical-align: middle;

	  border-radius: 10px;
	  margin: 5px;
	}

	#user-section {
	  background-color: #F6F8FA;
	  border-radius: 10px;

	  display: inline-block;
	  margin: 0 auto;
	  padding-right: 10px;

	  text-align: center;
	  vertical-align: middle;
	}

	#user-section:hover {
	  background-color: gainsboro;
	}

	#owner {
	  display: inline-block;
	  vertical-align: middle;
	}

	#repo-name {
	  display: inline-block;
	  vertical-align: middle;

	  padding-left: 10px;

	  font-size: 20px;
	  font-weight: 600;
	}

	#topics span {
	  display: inline-block;
	  vertical-align: middle;

	  margin: 2px;
	  padding: 3px;

	  background-color: rgba(65, 218, 96, 0.56);
	  border-radius: 6px;
	  border: black solid 1px;
	}

	#additional-info {
	  display: flex;
	  width: 100%;
	  justify-content: space-evenly;

	  margin-top: 5px;
	  color: gray;
	}

	.underline-hover:hover {
	  text-decoration: underline;
	}

/****** PROJECTS ******/

.js div#preloader { 
	position: relative; 
	left: 0; 
	z-index: 99; 
	width: 100%; 
	height: 2em;
	overflow: visible; 
	background: #FFF no-repeat center center; 
	color: #444444; 
	text-align:left;
}

/**/


.branches {
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
    height: 40px;
    display: none;
}

	.branch {
		display: block;
		width: 12%;
		float: left;
		padding: 0 1% 0 1%;
		cursor: pointer;
	}

	.branchtext { font-size: 1.1em; height: 21px; line-height: 1em; font-style: normal; color: var(--main-black); font-weight: bold;}

	.branchline { width: 96%; bottom: 0px; }

	.branchbar  { 
		margin-left: 4px; 
		margin-right: 4px; 
		margin-bottom: 5px; 
		height: 15px; 
		width: 0px;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	
	@keyframes blink{
		0%{width: 20%; }
		10%{width: 30%;}
		20%{width: 40%;}
		30%{width: 50%;}
		40%{width: 60%;}
		50%{width: 70%;}
		60%{width: 80%;}
		70%{width: 93%;}
		75%{width: 94%; background-color: var(--main-white);}
		100%{width: 1%;}
	}

	#filters .branchbar {
		animation: blink 5s linear;
		animation-iteration-count: 1;
		animation-direction: alternate;
	}
	
	.branch:hover > .branchbar, .active  > .branchbar {
		width: 93%;
	}
	
	.branch:hover > .branchtext {
		opacity: .7;
		color: var(--branch-print);
	}
	

#portwrap {
    width: 100%;
    position: relative;
    height: 100%;
    min-height: 480px;
    margin-top: 42px;
    display: none;
}

	#portwrap .mix{
		display: none;
	}

	article {
		width: 130px;
		height: 130px;
		float: left;
		display: block;
		border: 2px solid var(--main-white);
		margin: 7px;
		border-radius: 00px;	
		overflow: hidden;
		z-index: 50;
	}

	.bdetail {
		top: -180px;
		left: -6px;
		position: relative;
		width: 136px;
	}

	article:hover, article:hover + .dot{
		opacity:0.6;
	}

	article.open {
		position: absolute;
		width: 100%;
		min-height: 80vh;
		height: 130%;
		background: #fff;
		z-index: 95;
		padding: 0px;
		left: 0;
		margin: 0;
		top: 0px;
		border-radius: 0px;
	}

	article.open .bdetail {
		display: block!important;
	}

	article.open:hover{
		opacity:1;
	}

	.intro {
	  background: #151515;
	  width: 130px;
	  height: 130px;
	  color: var(--main-white);
	  text-align: center;
	  padding: 50px 0 0 0;
	  font-size: 1em;
	  font-style: italic;
	}

	article.open  .intro{
	   display:none;
	}

	article.open .branches {
		background: var(--main-white);
		position: absolute;
		z-index: 101;
		left: -5px;
		height: 20px;
		top: -7px;
		width: 100%;
	}

	.dot {
		width: 20px;
		height: 20px;
		background: black;
		border-radius: 20px;
		position: relative;
		bottom: -97px;
		left: -48px;
		float: left;
		z-index: 48;
	}

	article.open  + .dot{
	   display:none;
	}

	.content {
	}

	.topline, .topleftbar, .midline, .branchline, .bottomline  {
		border-top: 1px solid var(--main-black);
		width: 100%;
		position: relative;
	}

	.topleftbar {
		height: 5px;
		background: var(--main-black);
		width: 33%;
	}

	.midline { clear: both; top: 70px;}

	.branches { 
		/* font-family: 'ap', Open Sans Condensed,  Helvetica, Verdana, sans-serif; */
		float: left;
	}
	
	.title .description, .link {
		width: auto;
		position: relative;
		overflow: hidden;
		float: none;
	}

	.title {
		height: 50px;
		font-size: 1.5em;
		margin: 10px 0 0 0;
		line-height: 69px;
		font-weight: bold;
		padding: 0 0 0 10px;
	}

	.location { font-size: 1em; top: 10px; font-weight:bold;}
	.description, .link { top: 10px;}
	 
	.location,	.description, .link {
		padding: 2px 0 0 20px;
	}

	.content { 
		clear: both;
		height: 55%;
		color: rgba(141,141,146,1);
		width: 130%;
		margin: 10px auto 0 auto;
		padding: 0 0 0 10px;
		background: top center;
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -5;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.content img, .content a img {
		width: 50%;
		height: auto;
	}

	.bottomline  { clear: both;}

	.copyright { float: left; width: 90%; font-size: 0.8em; padding-left: 1%; height: auto; text-align: justify;}

	.link a { font-weight: bold; }
	
	.mobile-txt {
		display:none;
	}

/***** MEDIA QUERIES ******/
@media (max-width: 1500px) {
	#menuleft {
		left: 30px;
	}
}

@media (max-width: 1000px) {
	.branchtext {
		font-size: 1em;
	}
	
	.description {
		font-size: 0.8em;
		line-height: 0.8em;
	}
	
	#left {
		display: none;
	}
	
	#center {
		min-width: 0;
	}
	
	
	#right {
		float:left;
		width: 95%;
		min-width: 0;
	}
	
	#who p {
		padding-right: 1em;
	}
	
	.section, #port-header{
		padding-left:1em;
	}
	
	#home.section {
		padding: 0;
		min-height: 0;
	}

	#hello canvas {
	  margin: 0 auto;
	  width: 100vw;
	}
	article {
		margin: 0px;
	}
	
	#copyright {
		font-size: .8em;
	}
}

@media (max-width: 700px) {

	#left {
		position: fixed;
		top: 0;
		left: 0;
		height: 3em;
		display: block;
		z-index: 999;
		overflow: hidden;
		
	}
	#menuleft {
		margin: 0 auto;
		left: 0;
		background: #fffffffc;
		border-bottom: 1px solid var(--main-black);
		width: 100vw;
		font-size: 0.9em;
	}
	#menuleft a, #menuleft a img{
		display: inline-block;
		margin: 3px;
	}	

	#menuleft a img{
		position: relative;
		width: 24px;
		height: 24px;
		margin: 0 0.5em auto;
		top: 3px;
	}	

	#menuleft a+br {
		display: none;
	}		
	

	#bt, #bb{
		height: 5px;
	}

	#br, #bl{
		width: 5px;
	} 

	#wrap {
		padding: 5px;
	}
	
	#resinfo {
	  display: inherit;
	}

	.branchtext {
		font-size: .6em;
	}
	
	article.open {
	left: 0%;
	}
}

@media (max-width: 575px) {
	
  #bt, #br, #bl, #bb, #card-slim-network {
    display: none;
  }
  #wrap {
    padding: 2px;
  }
  
  #lang_menu {
	gap: 5px;
	}

	.lang_link {
		padding: 5px 0;
		width: 60px; 
		border-radius: 4px;
		font-size: 12px; 
	}
	
	#hello {
		max-height: 40vh;
	}
	
	#hello canvas {
	  margin: 0 auto;
	}
	
	.section {
		padding-top: 2em;
	}

	#portfolio.section {
		margin: 0 auto;	
	}

	article {
		width: 31.5%;
		height: 120px;
	}
	
	.title {
		margin: 0 auto;
	}
	
	.content {
		width: 100%;
		height: 40vh;
	}
	
	article.open {
		height: 335%;
	}
	
	.mobile-txt {
		display: block;
		color: var(--branch-identity);
		text-align: center;
		padding-bottom: 2em;
	}
}
